{% load staticfiles %}
<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
<body background="/media/car_images/6.jpg";>


	<div>

	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" style="padding-left:10%;">
      <a class="navbar-brand" href="#">Car Rental Project</a>
    </div>
   


   
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span>Home</a></li>
      <li><a href=""><span class="glyphicon glyphicon-phone"></span>Contact</a></li>
      <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      <li><a href="{% url 'log' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li>

</li>
    </ul>
  </div>
</nav>



<h1 style="padding-top="60px"><center>Booking Detail</center></h1>
<hr width="50%">

<table>
<tr>
<td>
<div>


<img src="{{ info.car.image.url }}" width="250px" height="190px" />
<h2 style="padding-left:60px">{{info.car.name}}</h2>
</div>


</td>



<td>
<div style="padding-left:60px">
<b>Customer name:</b> &nbsp;&nbsp;{{info.cname}}<br /><br />
<b>Email-ID :</b>&nbsp;&nbsp;  {{info.email}}<br /><br />
<b>Phone no:</b>&nbsp;&nbsp; {{info.ph_no}}<br /><br />
<b>Start_date :</b>&nbsp;&nbsp; {{info.start_date}}<br /><br />
<b>End_date:</b>&nbsp;&nbsp; {{info.end_date}}<br /><br />
<b>Address :</b>&nbsp;&nbsp; {{info.Address}}<br /><br />

</div>
</td>

<td style="padding-left:150px">
<div style="width:140px;height:40px;border:2px solid black;background-color:lightblue;">
<span style="font-size:24px"><center>{{info.car.price}}/hour</center></span>
</div><br>

<div>
<a href="{% url 'log' %}" class="btn btn-primary btn-lg">Proceed For Payment</a>
</div>
</td>

</tr>

<tr>
<td></td>
<td></td>
<td>

</td>
</tr>

</table>

</body>